@import 'utils/variables';
@import 'components/type';
@import 'reset.css';


body{
    font-family: 'Abel', sans-serif;
    margin: 0px;
    overflow-x: hidden;

}


main{
    margin-left: 26px;
    margin-right: 26px;
    overflow-x: hidden;

}


.title{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

.title--big{
    font-size: 53.75px;
    text-align: center;
    line-height: 59px;
    padding-left: 10px;
    padding-right: 10px;
}

.title--nrm{
    font-size: 44.79px;
    line-height: 53.8px;
}

.title--little{
    font-size: 37.32px;
}
.title--thin{
    font-size: 31.10px;
}
.title--logo{
    padding: 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 28px;
}
.title--testi{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 37.32px;
}

.button{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #753D00;
    color: #FFF0A3;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    font-size: 21.60px;
    cursor: pointer;
}
.button:hover{
    background-color: #000000;
    color: #FFFFFF;
}

.link{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    position: relative;
    font-size: 21.60px;
}


.link::after{
    background-repeat: no-repeat;
    background-size: contain;
    content : "";
    position: absolute;
    background-image: url(../assets/images/patte.png);
    width: 19px;
    height: 18.65px;
    right: 7%;
    top: 35%;
}
.link--mvp::after{
    background-repeat: no-repeat;
    background-size: contain;
    content : "";
    position: absolute;
    background-image: url(../assets/images/patte.png);
    width: 19px;
    height: 18.65px;
    right: -32%;
    top: 27%;
}
.nav{
    display: flex;
    position: initial;
    align-items: center;
}


.link:hover, .footer--text:hover{
  text-decoration: #753D00 underline 4px;
}

.block--credits{
    display: flex;
    flex-direction: column;
}
.link__credits:hover{
    text-decoration: #753D00 underline 4px;
}

.text{
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}


//image
.img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.img__landing{
    object-fit: contain;

}

.img--testi{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
}

.img__landing--none{
    display: none;
}


//block de texte
.block--advantage, .block--feature, .block--intro, .block--slogan, .block--mvp, .block--landing, .block--idee, .block--end, .block--graph, .block--design, .block--video{
    display:flex ;
    flex-direction:column-reverse;
    align-items: center;
}

.block{
    padding-top: 58px;
    padding-bottom: 58px;
}

.block1{
    height: 100vh;
    background-color: #FFF0A3;
}

.testimony--com1, .testimony--com2, .testimony--com3{
    background-color: #FFF0A3;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}
.testi{
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.block--slogan{
    position: relative;
    top: 9%;
}

.block--testimony{
    align-items: flex-start;
}

.nav--landing{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    margin-left: 26px;
    font-weight: 500;
}

.logo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span--none{
    display: none;
}

//footer
.block--footer{
    background-color: #FFF0A3;
    padding: 20px;
}

.footer--text{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.link--footer{
    padding: 20px;
    padding-right: 40px;
}

.logo--dog{

    padding: 20px;
    max-width: 80px;
}
.logo--footer{
    max-width: 50px;
}


.text--user{
    background-color: #FFF0A3;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 18px;

}
.text--thin{
    font-size: 16px;
}

/* Slider*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -36px;
    padding-top: 37px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFADE;
    font-weight: bold;
    font-size: 18px;

    border-radius: 10px;
    user-select: none;
    background-color: #51301F;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover  {
    
    background-color: #000000;
    color: #FFFFFF;
   
}

.mySlides{
    padding-left: 25px;
    padding-right: 25px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.hide{
  display: none;
}
.img--slider{
    max-width: 250px;
}

.video{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 450px;
}
.text--litpad{
    padding-top: 9px;
    padding-bottom: 9px;
}
.block--mvp, .block--design, .block--idee, .block--graph{
    padding-top: 20px;
    padding-bottom: 20px;
}
.block__pad--top{
    padding-top: 0px;
}
.block__pad--bottom{
    padding-bottom: 0px;
}

//uikit

.color{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.block--color{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color--yellowl{
    background-color: #FFFADE;
}
.color--yellowd{
    background-color: #FFF0A3;
}
.color--browl{
    background-color: #753D00;
}
.color--browd{
    background-color: #51301F;
}
.color--black{
    background-color: #000000;
    color: #FFFFFF;
}
.link__ui--normal{
    color: black;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 21.60px;
}
.link__ui--imp{
    color: black;
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 21.60px;
}

.link__ui--imp::after{
    background-repeat: no-repeat;
    background-size: contain;
    content : "";
    position: absolute;
    background-image: url(../assets/images/patte.png);
    width: 19px;
    height: 18.65px;
    right: 24%;
    top: 27%;
}

.link__ui--hover{
    text-decoration: #753D00 underline 4px;
    color: #000000;
}
.button__ui--normal{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    background-color: #753D00;
    color: #FFF0A3;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    font-size: 21.60px;
    cursor: pointer;
}

.button__ui--hover{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    font-size: 21.60px;
    cursor: pointer;
    

}
.text--pp{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}
.bloc--hover{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}

@media (min-width :750px){
    main{
        margin-left: 100px;
        margin-right: 100px;
    }
    .testi{
        display: flex;
        align-items: center;
    }
    .button{
        max-width: 50%;
    }
    .button__ui--normal, .button__ui--hover{
        max-width: 50%;
    }
    .link__ui--imp::after{
        right: 57%;
    }
    .footer{
        flex-direction: row;
    }
    .nav--landing{
        margin-left: 100px;
    }
    .img__landing{
        max-width: 600px;
    }
    .title--big{
        max-width: 600px;
    }

    .block--slogan{
        top:17%;
    }
    .logo{
        flex-direction: row;
        align-items: center;
        justify-content: center
    }
    
}

@media (min-width :1150px){

    
    .title--big{
        font-size: 68px;
        line-height: 90px;
        text-align: left;
    }

    .title--nrm{
        font-size: 55px;
        line-height: 64px;
    }
    
    .title--little{
        font-size: 43.95px;
    }
    .title--thin{
        font-size: 35.16px;
    }
    .block{
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .block--slogan, .block--advantage, .block--download,.block--intro, .block--mvp, .block--graph, .block--video{
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .block--feature, .block--landing, .block--idee, .block--end, .block--design{
        flex-direction: row;
        justify-content: space-between;
    }

    .block--testimony{
        flex-direction: column;
        align-items: flex-start;
    }
    .testimony{
        display: flex;
        flex-direction: row;
    }

    main{
        margin-left: 150px;
        margin-right: 150px;
    }

    .nav--landing{
        margin-left: 150px;
    }

    .block--text{
        max-width: 450px;
    }

    .img{
        margin-left: 0px;
        margin-right: 0px;
        max-width: 350px;
        padding-bottom: 0px;
        padding-top: 0px;

    }

    .img__landing--none{
        display: block;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .text--landing{
        max-width: 500px;
        margin-left: 150px;
    }
    .block--slogan{
        display: flex;
        flex-direction: row-reverse;  
        justify-content: space-between;
        align-items: center; 
        position: relative;
        top: 1%;
    }
    .block--download{
        align-items: flex-start;
        flex-direction: column;
    }

    .list{
        display: flex;
        justify-content: flex-start;
        margin-top: 9px;
        margin-bottom: 9px;
    }
    .testimony--com1, .testimony--com2, .testimony--com3{
        margin-right: 10px;
        margin-left: 10px;
    }
    .img--testi{
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        padding: 0px;
        padding-right: 10px;
        margin: 0px;
    }
    .testi{
        flex-direction: column;
        align-items: center;
    }
    .img--slider{
        max-width: 250px;
    }
    .title--flex{
        display: flex;
        justify-content: flex-end;
    }
    .video{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 400px;
    }

    .block--mvp, .block--design, .block--idee, .block--graph{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .block__pad--top{
        padding-top: 0px;
    }
    .block__pad--bottom{
        padding-bottom: 0px;
    }
    .block--color{
        flex-direction: row;
    }
    .link__ui--imp::after{
        right: 73%;
    }
    .logo{
        justify-content: flex-start;
    }

}

@media (min-width :1300px ){

    main{
        margin-left: 200px;
        margin-right: 200px;
    }
    .img{
        max-width: 400px;
    }

    .testimony--com1, .testimony--com2, .testimony--com3{
        max-width: 500px;
    }

    .text--landing{
        margin-left: 200px;
    }
    .img__landing{
        max-width: 69%;
        object-fit: contain;
        display: block;
        margin-left: auto;
        
    }
    .nav--landing{
        position: absolute;
        margin-left: 200px;
    }
    .block--slogan{
        position: relative;
        top: 3%;
        padding: 0px;
    }

    .block--testimony{
        flex-direction: column;
        align-items: flex-start
    }

    .testimony{
        display: flex;
    }
    .main{
        max-width: 1450px;
    }
    .block{
        max-width: 1550px;
        margin-left: auto;
        margin-right: auto;
    }
    .block--text{
        max-width: 550px;
    }
    .img--slider{
        max-width: 250px;
    }

}

